{% extends 'events/base.html' %}

{% block content %}
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">

				{{event_filter.form}}
				
				

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Event Name</th>
					<th>Event Place</th>
					<th>Event Type</th>
					<th>Event Date</th>
					<th>Event Hour</th>
					<th>Event Venue</th>
					<th>Event Price</th>
					<th>Event Manager</th>
                    
					
				</tr>

				{% for event in event_list %}

				<tr>
					
					<td> <a href="{% url 'show_event' event.id %}">{{event.name}}</a> </td>
					<td> {{event.place}} </td>
					<td> {{event.eventtype}} </td>
					<td> {{event.date}} </td>
					<td> {{event.hour}} </td>
					<td> {{event.venue}} </td>
					<td> {{event.price}} </td>
					<td> {{event.manager}} </td>

					

					
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	
</div>
 
{% endblock %}
