




{% extends 'events/base.html' %}

{% block content %}
  
  <h2>All Tickets</h2>
  <p1>You can see and cancel your tickets here.</p1>
  <br/>

  {% for ticket in tickets %}

    <div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">My Ticket ID: {{ ticket.id  }}</h5>
    <p class="card-text">
      <ul>
<li>Ticket for the Event:  {{ ticket.event  }}</li>
<li>Ticket Date:  {{ ticket.event.date  }}</li>
<li>Ticket Hour:  {{ ticket.event.hour  }}</li>
<li>Ticket Venue:  {{ ticket.event.venue  }}</li>
<li>Ticket Price:  {{ ticket.event.price  }}</li>



  
  </ul>



    </p>
  </div>
 
      <div class="card-footer text-muted">
        
        

        <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-outline-danger btn-sm">Cancel Ticket</a>
        
        
      </div>
 
</div>

{% endfor %}
  
  
{% endblock %}