

<html>
 <head>
   <style>
div {
  background-color: purple;
  width: 300px;
  border: 15px solid gray;
  padding: 50px;
  margin: 20px;
}
</style>
 	</head>

 	 <body>


{% block content %}










<center>
<h1> <font size="10" color="black">{{ event.name }}</font> </h1>
<br/>
<font size="4" color="purple">Event Place:</font>{{event.place}}<br/>
<font size="4" color="purple">Event Type:</font>{{event.eventtype}}<br/>
<font size="4" color="purple">Event Date:</font>{{event.date}}<br/>
<font size="4" color="purple">Event Hour:</font>{{event.hour}} <br/>
<font size="4" color="purple">Event Venue:</font>{{event.venue}} <br/>

<div>{{event.description}}</div>

</center>


<a href="{% url 'buy_ticket'   %}">Buy Ticket</a>
   

{% endblock %}

</body>



</html>