{% extends 'events/base.html' %}


{% block content %}


{{ eventsbythatuser }}
  <h2>All USERS</h2>
  <p1>You can  see and delete users.</p1>
  <br/>

 {% for u in list %}
 {% if  u.is_superuser %}
  <td> </td>
{% else %}

</br>
    <div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">UserName: {{u.username}}</h5>
    <p class="card-text">
      <ul>




    <tr>
    
    <li>Email: {{u.email}}</li>
    <li>First Name: {{u.first_name}}</li>
     <li>Last Name: {{u.last_name}}</li>
{% if u.is_registereduser %}
     <li>User Type: Registered User</li>
     {% endif %}
{% if u.is_eventholder %}
     <li>User Type: EventHolder</li>
     {% endif %}


     {% endif %}

     
   
  </tr>
<p></p>

  
  </ul>



    </p>
  </div>
 
      <div class="card-footer text-muted">
        
         {% if  u.is_registereduser or u.is_eventholder %}

<a href="{% url 'user_delete' pk=u.email%}" class="btn btn-outline-danger btn-sm">Delete</a>
             {% endif %}
       
        
        
      </div>
 
</div>

</br>

{% endfor %}



{% endblock %}



